.footer {
  background-color: #222;
  color: #fff;
  padding: 3em;
  text-align: center;
}
.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list_li {
  margin: 0 1em;
  cursor: pointer;
}

.social_list li:hover {
  color: #ffbb33;
}

.social_list_li_svg {
  font-size: 1.5em;
  cursor: pointer;
}

.copy_right {
  margin-top: 2em;
}
.copy_right_span {
  font-weight: bold;
  color: #ffbb33;
}
